*{
    margin: 0;
    padding: 0;
}
header{
    height:10vh;
    width: 100vw;
    position: fixed;
    background-color: aqua;
   /* display: flex;
    flex-direction: row;*/
}
header>img{
    height: 60%;
    align-self: center;
    padding-left: 1vw;
    float: left;
}
#profile{
    height: 100%;
    width: 20%;
    display: flex;
    position: relative;
    align-items: center;
    justify-items:right;
    float: right;
}
#profile>img{
    height:100%;
    width:auto;
}