header{
    font-family: sans-serif;
    height:15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 0.9rem;
    font-weight: 550;
    color: black;
}
header img{
    height: 80%;
    width: auto;;
}
a{
text-decoration: none;
color: black;
transition: all ease 0.2s;
}
a:hover{
    color:rgb(255, 0, 43); 
}
.clicked{
    color:rgb(255, 0, 43);
}
#sign{
    display: flex;
    width:7vw;
    height:55%;
    border:1px solid rgb(255, 0, 43);
    text-align: center;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    color: rgb(255, 0, 43);
}
#sign:hover{
    background-color:#FEDFE5;
}
#ref{
    display: flex;
    width:auto;
    padding-left: 10px;
    padding-right: 10px;
    height:55%;
    border:none;
    background-color:#e9f9fc;
    text-align: center;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    color: #6E71CC;
}




.navbar {
    text-decoration: none;
    background-color: #240A0D;
    height: 59px;

}

.navdiv {
    font-family: Enriqueta serif;
    font-size: 28px;
    color: #FFD772;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    margin: 20px;

}

button {
    margin-top: 8px;
    color: white;
    background-color: #d21134;
    border-radius: 7px;
    width: 112px;
    height: 45px;
    align-content: center;
    font-size: 12px;
    font-family:
        "Open Sans"
        ui-sans-serif;
}

h1 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin-top: 126px;
    margin-bottom: 0px;
    line-height: 62px;

}

h3 {
    color: #6C6768;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 27px;
    line-height: 34px;
}

h2 {
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
}

#board {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}
table{
    margin-top: 56px;
    margin-bottom: 70px;
    margin-left: 115px;
    margin-right: 115px;
}
tr td:first-child{
    width: 516px;
    height: auto;
    text-align: left;
}

td:first-child p {
    font-family: Arial, Helvetica, sans-serif;
    color: #3b3435;
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
    text-align: left;
    margin-right: 148px;                                             
}

tr td:nth-child(2) p {
    text-align: left;
    margin-left: 70px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color:#544D4F;
}

table tr td:first-child {
    border-right: 1px solid rgb(135, 132, 132);
    text-align: left;

}

.hello {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    grid-gap: 27px;
    flex-wrap: wrap;
    padding: auto;
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 95px;
}

article {

    width: 295px;
    height: 417px;
    border-radius: 10px;
    background-color: #e5e7eb;
    box-sizing: border-box;
    padding-bottom: 0;
}
article p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
article h6{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400 ;
    color:#544d4f;
}

#hie img {
    width: 295px;
    height: 295px;
    padding-top: 7px;
}

#ho {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    width: 295px;
    margin-top: -24px;
    box-shadow: 2px 4px 10px #c4bebe;
}

#ho span img {
    width: 140px;
    height: 46px;
    padding: 0px;
    margin: 0px;
}

#ho p {
    font-size: 16px;
    font-weight: 700;
    padding-top: 16px;
    margin-top: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 24px;
}

#ho h6 {
    font-size: 16px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -14px;
    margin-bottom: 5px;
    color: #544D4F;
}

#last{
    margin-bottom: 30px;
}



footer{
    height:100vh;
    width: 100vw;
    background-color: #0A0103;
    display: flex;
    flex-direction: column;
}
footer img{
    height: 60%;
    width: auto;
}

#topper{
    width:92vw;
    height:9vh;
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 4vw;
    align-items: center;
}
#socials{
    width:40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: flex-end;
    color: #9D999A;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    align-items: center;
}
#topper ul{
    width:80%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.6rem;
}
footer hr{
    width:93vw;
    height:0px;
    border-bottom:0;
    align-self: center;
}
.footerbutt button{
    height: 6vh;
    width: auto;
    padding-left:2%;
    padding-right:2%;
    border-radius: 50px;
    border:none;
    font-size: 0.95rem;
    font-weight: 500;
    background-color: white;
    color:black;
}
.footerlists{
    display: flex;
    flex-direction: row;
    color: #c5c4c4;
    font-family: sans-serif; 
    text-wrap: wrap;
    width: 70%;
    justify-content: space-around;
    height:50vh;
    padding-top: 5vh;
    padding-left: 5vw;
}
.footerlists ul{
    list-style: none;
    width: 30%;
    padding-left: 0%;
    height: 100%;
    line-height:6vh;
}
footer > h1{
color: whitesmoke;
font-size: 1rem;
font-family: sans-serif;
padding: 7vh 6vw;
font-weight: 100;
}